@import "../../app.scss";
#About-me {
  height: 100vh;

   @include mobile {
      height: 150%;
      padding-top: 10%;
      padding-bottom: 10%;
    }

}
.about {
  background: linear-gradient(180deg, #1b235d, #0c0c1d);

  height: 100%;
  // max-width: 1366px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 60px;

  @include mobile {
    flex-direction: column;
    // height: calc(100vh * 50 );

    gap: 60px;

    width: 100%;

    // padding-top: 1%;
    // padding-bottom: 5%;
    //  margin: none;
  }

  // overflow: hidden;

  .textContainer {
    flex: 1;

     @include mobile {

      padding-top: 10%;

    }
    @include small {
      height: 100%;
    }

    p {
      font-size: 18px;

      text-align: justify;
      line-height: 35px;

      @include small {
        padding-top: 10%;
      }
    }
  }

  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include small {
      height: 100%;
    }

    h4 {
      font-size: 32px;
      @include small {
        font-size: 24px;
      }
    }

    .stackContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      //   border: 1px solid salmon;
      gap: 32px;
      .stack {
        width: 150px;
        font-weight: 600;
        padding: 12px;
        border-radius: 40px;
        background-color: #ffffff09;
        text-align: center;
        // color: #58f8fc;

        @include small {
          width: 100%;
        }
      }
    }
  }
}
