@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #1b235d, #0c0c1d);

  height: 100%;
  // max-width: 1366px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 60px;

   @include mobile{
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
     margin: none;
    
     
      
     }
 
  // overflow: hidden;

  .textContainer {
    flex: 1;
//     display: flex;
//     flex-direction: column;
//     gap: 40px;

//      @include mobile{
//    gap: 20px;
//   //  text-align: center;
//   //  align-items: center;
//    width: 100%;
    
     
      
//      }

   
    p {font-size: 18px;

        text-align: justify;
    line-height: 35px;

       @include small{
padding-top: 10%;
  
    
     
      
     }
      
    }

    
  }

  .formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h4{
        font-size: 32px;
    }

     .stackContainer  {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        //   border: 1px solid salmon;
          gap: 32px;
          .stack {
            width: 150px;
font-weight: 600;
            padding: 12px;
            border-radius: 40px;
            background-color: #ffffff09;
            text-align: center;
            // color: #58f8fc;

             @include small{
           width: 100%;
  
    
     
      
     }
          }
        }
     @include mobile{
           width: 100%;
  
    
     
      
     }
    

    // form {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 20px;
    //   @include mobile{
    //         gap: 30px;

    //         padding-bottom: 5%;
  
    
     
      
    //  }
      

    //   input {
    //      font-size: 16px;
    //     background-color: transparent;
    //     border-radius: 10px;
    //     padding: 20px;
    //     border: 1px solid #fff;
    //     color: white;
    //      @include mobile{
    //        padding: 12px;
  
    
     
      
    //  }
    //   }

    //   textarea {
    //      font-size: 16px;
    //     background-color: transparent;
    //     border-radius: 10px;
    //     padding: 20px;
    //     border: 1px solid #fff;
    //     color: white;
    //       @include mobile{
    //        padding: 12px;
  
    
     
      
    //  }
    //   }

    //   button{
    //      font-size: 16px;
    //     border: none;
    //     background-color: #58f8fc ;
    //     color: #120035 !important;

    //     // font-size: 18px;
    //     font-weight: bold;
    //     padding: 20px;
    //     border-radius: 10px;
    //     cursor: pointer;
    //   }
    // }
  }
}
