@import "../../app.scss";

  
.navbar {
  
  height: 100px;
  background: linear-gradient(180deg,  #1b235d, #0c0c1d);
  

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
     @include mobile{
    justify-content: end;
      
     }

      @include large {
padding-left: 0;
padding-right: 0;


        }


    span {
      font-weight: bold;
      font-size: 24px;

     @include mobile{
      display: none;
     }
    }

    .socials {
      display: flex;
      gap: 20px;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }
}