@import "../../app.scss";

.projects {
  position: relative;
  background: linear-gradient(180deg, #0c0c1d, #1b235d);

  .progress {
    // background: linear-gradient(180deg,  #1b235d, #0c0c1d);
      
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #58f8fc;
    font-size: 36px;

     @include mobile{
    //  padding-bottom: 50%;
     font-size: 24px;
    
     
      
     }
 
    .progressBar {
      height: 10px;
      background-color: #c9bbbd;
 
     
    }
  }

  .container {
      // margin-top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
     

    .wrapper {

      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 60px;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 10%;

      @include mobile{
        flex-direction: column ;
     padding-left: 5%;
      padding-right: 5%;
      
     }

      .imageContainer {
        flex: 1;
        height: 50%;
        // width: 100%;
        object-fit: cover;
         @include mobile{
        width: 100%;
        max-height: 300px;
         object-fit: none;
      
     }


        img {
          flex: 1;
          width: 100%;
          height: 100%;
          // object-fit: cover;
          border-radius: 10px;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;

         @include mobile{
        transform: none !important;
        text-align: center;
         padding-bottom: 5%;
      
     }

        h2 {
          font-size: 32px;
          // color: #58f8fc;
        }
        .stackContainer {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          // border: 1px solid salmon;
          gap: 32px;
          .stack {
            width: 150px;

            padding: 12px;
            border-radius: 40px;
            background-color: #ffffff09;
            text-align: center;
            // color: #58f8fc;
          }
        }

        a {
          text-align: center;
          background-color: #58f8fc;
          color: #120035;
          border-radius: 10px;
          padding: 12px;
          width: 200px;
          border: none;
          font-weight: bold;
          cursor: pointer;

           @include mobile{
       align-self: center;
      
     }
          
        }
      }
    }
  }
}
